* {
  box-sizing: border-box;
}
body {
  background-color: #54c3ef;
  font-family: "Source Sans Pro", sans-serif;
  color: #fad744;
}
h1 {
  font-family: "Caveat Brush", "cursive";
  font-size: 80px;
  text-align: center;
  text-shadow: 2px 3px 2px black;
  margin-bottom: 30px;
}
#main-div {
  background-color: #2b3252;
  margin-left: 23%;
  border-radius: 10px;
  width: 680px;
}
label {
  display: block;
  padding-top: 10px;
  padding-bottom: 10PX;
  font-size: 18px;
}
form {
  padding: 20px;
}
input {
  margin-right: 10px;
}
h2 {
  font-size: 20px;
  font-weight: 700;
}
.borderClass {
  border-bottom: 1px solid #fad744;
  padding-bottom: 30px;
  margin-bottom: 20px;
}
#submit {
  color: #2b3252;
  background-color: #fad744;
  border: 0px;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 8px;
  margin-left: 43%;
  margin-top: 30px;
  margin-bottom: 8px;
  cursor: pointer;
}
#lastDiv {
  background-color: white;
  position: sticky;
  top: 10px;
  width: 180px;
  height: 260px;
  color: black;
  padding: 20px 25px;
  border-radius: 10px;
  margin-left: 15px;
}
#lastDiv p:nth-child(1) {
  font-size: 25px;
  margin-bottom: 0px;
}
#lastDiv p:nth-child(2) {
  font-size: 40px;
  font-weight: 600;
  margin-top: 17px;
}
section {
  display: flex;
  margin-bottom: 20px;
}
